/* ========= */
/* VARIABLES */
/* ========= */

:root {
    --color-w95: #f2f2f2;
    --color-w90: #e6e6e6;
    --color-w85: #d9d9d9;
    --color-w80: #cccccc;
    --color-w60: #999999;
    --color-w40: #404040;
    --color-w20: #333333;
    --color-w15: #262626;
    --color-w10: #1a1a1a;
    --color-w5: #0d0d0d;

}

/* ========================= */
/* GLOBAL STYLES + NORMALIZE */
/* ========================= */

html, body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    
}

body {
    color: var(--color-w5);
    background: var(--color-w95);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    line-height: inherit;
}


button {
    border: none;
    background: none;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    color: inherit;
    padding: 0;
}

a:focus, button:focus, a:hover, button:hover {
    font-weight: bold;
}

figure {
    margin: 0;
    padding: 0;
}

/* =============== */
/* OPTIONS CLASSES */
/* =============== */

.dark-mode {
    color: var(--color-w95);
    background-color: var(--color-w5);
}

.font-large {
    font-size: 18px;
}

.font-xl {
    font-size: 20px;
}

/* ====================== */
/* ACCESSIBILITY SKIP NAV */
/* ====================== */

.upper-nav .skip-cta {
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.skip-cta:focus {
    height: min-content;
}

/* =================== */
/* UPPER AND LOWER NAV */
/* =================== */

.nav-header, .options-list, .nav-list, .options-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.upper-nav, .lower-nav {
    position: fixed;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to right, var(--color-w85), var(--color-w90), var(--color-w85));
    
}

.upper-nav {
    top: 0;
    border-bottom: 1px solid var(--color-w85);
}

.lower-nav {
    bottom: 0;
    border-top: 1px solid var(--color-w85);
}

.upper-nav a, .upper-nav button {
    display: block;
    padding: 1.2rem 1rem;
    text-align: center;
}

.upper-nav .nav-header, .lower-nav .nav-header {
    display: flex;
}

.upper-nav .nav-header {
    justify-content: space-between;
}

.upper-nav .nav-list a {
    border-bottom: 1px solid var(--color-w80);
}

.upper-nav.dark-mode .nav-list a {
    border-bottom: 1px solid var(--color-w20);
}

.lower-nav .nav-header {
    justify-content: space-around;
    font-size: .8em;
}

.lower-nav .nav-header li {
    min-width: 60px;
    text-align: center;
}

.lower-nav button {
    width: 100%;
}

.nav-header {
    color: var(--color-w40);
}


.lower-nav .nav-header a, .lower-nav .nav-header button {
    display: block;
    min-width: 43px;
    text-align: center;
    padding: 6px 0 10px 0;
    font-size: .9em;
}

.lower-nav .nav-header img {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto 2px auto;
    
}

.lower-nav .nav-header img[hidden] {
    display: none;
}

.lower-nav .nav-header a[hidden] {
    display: none;
}

.mode-list, .font-list {
    display: flex;
    align-items: center;
    justify-content: center;
}


.mode-list li, .font-list li {
    padding: .5rem;
    
}

.options-list {
    text-align: center;
    padding: 2rem 0
}

/* ============================= */
/* UPPER AND LOWER NAV DARK MODE */
/* ============================= */

.upper-nav.dark-mode, .lower-nav.dark-mode {
    background-image: linear-gradient(to right, var(--color-w5), var(--color-w10), var(--color-w5));
}

.upper-nav.dark-mode {
    border-bottom: 1px solid var(--color-w5);
}

.lower-nav.dark-mode {
    border-top: 1px solid var(--color-w5);
}

.dark-mode .nav-header {
    color: var(--color-w60);
}

/* ============ */
/* HERO SECTION */
/* ============ */

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-section a {
    display: block;
    border: 1px solid #808080;
    padding: .5rem;
    margin-top: .5rem;
}

.hero-section ul {
    max-width: 300px;
    margin: 4rem auto 0 auto;
    list-style: none;
    padding: 0;
}

.hero-section h1 {
    margin-top: 0;

}

.hero-section .content-container {
    padding-top: 0;
    
}

/* ============ */
/* MAIN CONTENT */
/* ============ */

section {
    min-height: 100vh;
}

.content-container {
    padding: 2rem;
}
