/* ========= */
/* VARIABLES */
/* ========= */

:root {
    /* COLORS */
    --clr-w95: #f2f2f2;
    --clr-w90: #e6e6e6;
    --clr-w85: #d9d9d9;
    --clr-w80: #cccccc;
    --clr-w60: #999999;
    --clr-w40: #404040;
    --clr-w20: #333333;
    --clr-w15: #262626;
    --clr-w10: #1a1a1a;
    --clr-w5: #0d0d0d;
    /* FONT SIZE */
    --fs-default: 16px;
    --fs-large: 18px;
    --fs-xl: 20px;
    --fs-icon: .8em;
    /* BORDER */
    --border-style: 1px solid var(--clr-w85);
    /* PADDING */
    --padding-icon: 6px 0 10px 0;
}

/* ========================= */
/* GLOBAL STYLES + NORMALIZE */
/* ========================= */

html, body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    
}

body {
    color: var(--clr-w5);
    background: var(--clr-w95);
    font-size: var(--fs-default);
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    line-height: inherit;
}


button {
    border: none;
    background: none;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    color: inherit;
    padding: 0;
}

a:focus, button:focus, a:hover, button:hover {
    font-weight: bold;
}

figure {
    margin: 0;
    padding: 0;
}

/* =============== */
/* OPTIONS CLASSES */
/* =============== */

.dark-mode {
    color: var(--clr-w95);
    background-color: var(--clr-w15);
}

.font-large {
    font-size: var(--fs-large);
}

.font-xl {
    font-size: var(--fs-xl);
}

/* ====================== */
/* ACCESSIBILITY SKIP NAV */
/* ====================== */

.upper-nav .skip-cta {
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.skip-cta:focus {
    height: min-content;
}

/* =================== */
/* UPPER AND LOWER NAV */
/* =================== */

.nav-header, .options-list, .nav-list, .options-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.upper-nav, .lower-nav {
    position: fixed;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to right, var(--clr-w85), var(--clr-w90), var(--clr-w85));
    
}

.upper-nav {
    top: 0;
    border-bottom: var(--border-style);
}

.lower-nav {
    bottom: 0;
    border-top: var(--border-style);
}

.upper-nav a, .upper-nav button {
    display: block;
    padding: 1.2rem 1rem;
    text-align: center;
}

.upper-nav .nav-header, .lower-nav .nav-header {
    display: flex;
}

.upper-nav .nav-header {
    justify-content: space-between;
}

.upper-nav .nav-list a {
    border-bottom: 1px solid var(--clr-w80);
}

.upper-nav.dark-mode .nav-list a {
    border-bottom: 1px solid var(--clr-w20);
}

.lower-nav .nav-header {
    justify-content: space-around;
    font-size: var(--fs-icon);
}

.lower-nav .nav-header li {
    min-width: 60px;
    text-align: center;
}

.lower-nav button {
    width: 100%;
}

.nav-header {
    color: var(--clr-w40);
}


.lower-nav .nav-header a, .lower-nav .nav-header button {
    display: block;
    min-width: 43px;
    text-align: center;
    padding: var(--padding-icon);
    font-size: .9em;
}

.lower-nav .nav-header img {
    display: block;
    height: 24px;
    margin: 0 auto 2px auto;
    
}

.lower-nav .nav-header img[hidden] {
    display: none;
}

.lower-nav .nav-header a[hidden] {
    display: none;
}

.mode-list, .font-list {
    display: flex;
    align-items: center;
    justify-content: center;
}


.mode-list li, .font-list li {
    padding: .5rem;
    
}

.options-list {
    text-align: center;
    padding: 2rem 0
}

/* ============================= */
/* UPPER AND LOWER NAV DARK MODE */
/* ============================= */

.upper-nav.dark-mode, .lower-nav.dark-mode {
    background-image: linear-gradient(to right, var(--clr-w5), var(--clr-w10), var(--clr-w5));
}

.upper-nav.dark-mode {
    border-bottom: 1px solid var(--clr-w5);
}

.lower-nav.dark-mode {
    border-top: 1px solid var(--clr-w5);
}

.dark-mode .nav-header {
    color: var(--clr-w60);
}

/* ============ */
/* HERO SECTION */
/* ============ */

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-section a {
    display: block;
    border: 1px solid #808080;
    padding: .5rem;
    margin-top: .5rem;
}

.hero-section ul {
    max-width: 300px;
    margin: 4rem auto 0 auto;
    list-style: none;
    padding: 0;
}

.hero-section h1 {
    margin-top: 0;

}

.hero-section .content-container {
    padding-top: 0;
    
}

/* ============ */
/* MAIN CONTENT */
/* ============ */

section {
    min-height: 100vh;
}

.content-container {
    padding: 2rem;
}

@media (min-width: 900px) { 
    .upper-nav .logo-cta {
        padding: 1.2rem 0;
    }
    .upper-nav .menu-btn {
        display: none;
    }

    #upper-list {
        display: flex;
    }

    .flex-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .desktop-hidden {
        display: none;
    }


    .lower-nav .nav-header li {
        position: absolute;
        bottom: 10px;
        background-image: linear-gradient(to right, var(--clr-w85), var(--clr-w90), var(--clr-w85));
        padding: 1rem;
        border-radius: 3rem;
        min-width: unset;
    }

    .lower-nav.dark-mode .nav-header li {
        background-image: linear-gradient(to right, var(--clr-w5), var(--clr-w10), var(--clr-w5));;
    }

    .options {
        left: .5rem;
    }

    .top {
        right: .5rem;
    }

    .content-container, .flex-container {
        padding: 0;
        max-width: 700px;
        margin: 0 auto;
    }

    .lower-nav .nav-header a, .lower-nav .nav-header button {
        padding: 0;
    }
 }

 @media (min-width: 1200px) {
    .content-container, .flex-container {
        max-width: 1000px;
    }
 }